* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #9DA6A5;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
}

/* common */

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}


.btn {
    display: inline-block;
    padding: 20px 41px;
    background: #1EBFC1;
    min-width: 100px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 14px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.btn:hover {
    opacity: 0.8;
}

.heading.lv1 {
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.heading.lv2 {
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
    /* 133.333% */
}


/*=================== Header ================== */

.header {
    padding: 52px 0 4px;
    background-color: #fff;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .row .list {
    display: flex;
    gap: 40px;
}


.header .nav a {
    padding: 8px;
    color: #2F3A3B;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .nav a:hover {
    font-weight: 600;
}

.header .nav .group-btn {
    display: flex;
}

.header .group-btn .sign-in {
    padding: 8px;
    color: #2F3A3B;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .group-btn .sign-in:hover {
    font-weight: 600;
}

.header .btn.link-action {
    margin-left: 8px;
    background: none;
    color: black;
    padding: 16px 24px;
    border-radius: 6px;
    border: 1px solid #1EBFC1;
    color: #1EBFC1;
    font-weight: 600;
    font-size: 1.6rem;
}

.header .btn.link-action:hover {
    background: #1EBFC1;
    color: #FFF;
}


/* ===============hero=============== */
.hero {
    padding: 50px 0 79px;
}

.hero .row {
    display: flex;
    justify-content: space-between;
}

.hero .info {
    padding: 93px 0 93px;
    width: 459px;
}

.hero .info h1 {
    margin-top: 18px;
}

.hero .info .desc {
    width: 374px;
    margin-top: 46px;
    color: #9DA6A5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77778;
}

.hero .info .group-action {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .group-action .play {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .group-img {
    position: relative;
    background: #E0F7F6;
    max-width: 576px;
    object-fit: cover;
}

.hero .group-img .img {}

.hero .courses {
    display: flex;
    align-items: center;
    padding: 17px 25px 18px 25px;
    position: absolute;
    left: -40px;
    top: 150px;
    width: 157px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero p {
    margin-left: 16px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75;
}

.hero .courses .book {
    padding: 16px 3px 16px;
    width: 40px;
    height: 38px;
    background-color: #FF8282;
    border-radius: 4px 3px 3px 4px;
}

.hero .book .book-line {
    width: 26px;
}

.hero .group-img .schedules {
    position: absolute;
    left: -65px;
    bottom: 46px;
    width: 124px;
    height: 132px;
    padding-top: 16px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .schedules .line-book {
    text-align: center;
    margin-top: 5px;
}

.hero .line-book-4 {
    text-align: center;
    margin-top: 8px;
}

.hero .active {
    position: absolute;
    right: 45px;
    bottom: 41px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .active p {
    margin-left: 0;
}

.hero .group-icon {
    display: flex;
    align-items: center;
    margin-top: 4px;
}


.hero .group-icon img,
span {
    margin-left: -8px;
}

.hero img:first-child {
    margin-left: 0;
}

.hero .group-icon .icon {
    background-color: #1EBFC1;
    border-radius: 50%;
}

.group-icon .icon.icon-2 {
    background-color: #FFC147;
}

.group-icon .icon.icon-3 {
    background-color: #FF947A;
}

.group-icon .icon.icon-4 {
    background-color: #BF83FF;
}

.hero .group-icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-color: #1EBFC1;
    color: #FFF;
    width: 33px;
    height: 33px;
    font-weight: 500;
    border-radius: 50%;
    font-size: 10px;
}

.feature {
    margin-top: 130px;
}

.feature .body {
    width: 1024px;
    margin-right: auto;
}

.feature .body p:first-child {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
}

.feature .body h2 {
    margin-top: 18px;
    width: 577px;
}

.feature .body .desc {
    margin-top: 18px;
    width: 590px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

.feature .body .row {
    display: flex;
    margin-top: 80px;
}


.feature .info h3 {
    margin-top: 26px;
    color: #0D1111;
    font-size: 20px;
    font-weight: 600;
}

.feature .row .info-1 {
    margin-right: 209px;
}


.feature .info .desc {
    margin-top: 16px;
    font-weight: 400;
    line-height: 1.68;
    max-width: 168px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68;
}

.feature .row .info-2 {
    margin-right: 200px;
}

.feature .info-2 .desc {
    max-width: 223px;
}

.feature .info-3 .desc {
    max-width: 224px;
}


/*----------------- Courses--------------- */
.courses {
    margin-top: 130px;
}

.courses p:first-child {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses h2 {
    margin-top: 18px;
}

.courses .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .row .desc {
    margin-top: 18px;
    width: 525px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

.courses .row .view {
    text-decoration: underline;
    color: #1EBFC1;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
}

.courses .group-card {
    display: flex;
    align-items: center;
    gap: 47px;
    margin-top: 79px;
}

.courses .group-card .image {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.7;
    background: #D0EFED;
}

.courses .group-card .card {
    position: relative;
}

.courses .info {
    position: absolute;
    bottom: -124px;
    right: 17px;
    left: 17px;
}

.courses .card-1 .info {
    width: 325px;
    height: 195px;
    padding: 18px 0 0 25px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses .info h3 {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses .info p {
    line-height: normal;
}

.courses .info .fee {
    margin-top: 16px;

}

.courses .info strong {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses .info .desc {
    margin-top: 6px;
}

.courses .info .box {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 10px;
}

.courses .box .point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1EBFC1;
}

/* --------------Stats------------ */
.stat {
    margin-top: 265px;
}

.stat .row {
    display: flex;
    gap: 200px;
    width: 862px;
    margin: 0 auto 0;
}

.stat .row strong {
    color: #0D1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.stat .row p {
    margin-top: 11px;
    color: #767E7E;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

/* ------------------Quote------------- */
.quote {
    margin-top: 264px;
}

.quote .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quote .row .quote-text {
    width: 36%;
}

.quote .quote-text .image {
    margin-top: 37px;
}

.quote .quote-text .desc {
    margin-top: 27px;
    color: #5D6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
}

.quote .quote-text .author {
    margin-top: 33px;
    color: #767E7E;
    font-weight: 400;
    line-height: normal;
}

.quote .quote-text strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
}

.quote .arrow {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.quote .arrow a:hover {
    opacity: 0.8;
}

.quote .arrow .arrow-left {
    margin-right: 30px;
}

.quote .quote-image {
    position: relative;
    display: flex;
    align-items: center;
    width: 64%;
    padding: 107px 0 139px
}

.quote-image .image-1 {
    margin-left: 345px;
}

.quote-image .image-2 {
    position: absolute;
    top: 19px;
    right: 0;
}

.quote-image .image-3 {
    position: absolute;
    top: 0;
    left: 216px;
}

.quote-image .image-4 {
    position: absolute;
    bottom: 145px;
    left: 72px;
}

.quote-image .image-5 {
    position: absolute;
    bottom: 0;
    left: 284px;
}

.quote-image .image-6 {
    position: absolute;
    right: 32px;
    bottom: 29px;
}

/*------------------Admit--------------- */

.admit {
    margin-top: 130px;
    background: #DEF6F5;
    padding: 76px 0 88px;
}

.admit .row {
    display: flex;
    align-items: center;
}

.admit .title .desc {
    margin-top: 18px;
    color: #767E7E;
}

.admit .row .btn {
    margin-left: 410px;
    width: 186px;
    height: 68px;
    padding-top: 25px;
    border-radius: 14px;
    background: #2AC9BF;
}

/* -------------Footer----------- */

.footer {
    padding: 130px 0 50px;
}

.footer .column {
    display: flex;
    gap: 144px;
}

.footer .column h3 {
    margin-bottom: 25px;
    color: #2E2E2E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
}

.footer .column li a {
    color: #535353;
    font-size: 1.6rem;
    line-height: normal;
}

.footer .column li:nth-child(n+2) {
    margin-top: 18px;
}

.footer .column-5 {
    margin-right: 1px
}

.footer .social {
    display: flex;
}

.footer .social a {
    margin-left: 9px;
}


.footer .copyright {
    margin-top: 80px;
    text-align: center;
}